body {
  font-family: $font-family !important;
  font-size: $font-size !important;
  color: $body-color !important;
  background-color: $body-bg !important;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

p {
  line-height: $line-height;
}

strong {
  font-weight: 600;
}

.container {
  @include media-breakpoint-up(lg) {
    max-width: 90%;
  }
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
