body {
  font-family: $font-family !important;
  font-size: $font-size !important;
  color: $body-color !important;
  background-color: $body-bg !important;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

p {
  line-height: $line-height;
}

a, a:hover, a:focus {
  color: $body-color !important;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

img, video, audio {
  max-width: 100%;
}

#app {
  padding-top: 80px;
}

.container:not(.container-origin) {
  @include media-breakpoint-up(lg) {
    max-width: 90%;
  }
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.content {
  padding: 2rem 0;
  @include media-breakpoint-up(md) {
    padding: 3rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 4rem 0;
  }
}

.qr-code {
  border: 1px solid rgba(0,0,0,.09);
  padding: 12px;
}

.bullet {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: black;
  @include border-radius(50%);
  margin: 3px 10px;
}

.stars {
  display: inline-block;
  vertical-align: middle;
  > i {
    width: 16px;
    height: 16px;
    background-image: url("../images/icon/star.svg");
    margin: 0 3px;
    &.no-star {
      background-image: url("../images/icon/no-star.svg");
    }
  }
}

.gap-30 {
  height: 30px;
  @include media-breakpoint-down(sm) {
    height: 15px
  }
}

.gap-50 {
  height: 50px;
  @include media-breakpoint-down(sm) {
    height: 30px
  }
}

.is-flex {
  @include flexbox();
  @include flex-wrap(wrap);
  @include box-sizing();
}

.fl-item-50 {
  flex: 0 0 50%;
}
