#diamond-welcome {
  .welcome-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .welcome-text {
    p {
      margin-bottom: 10px;
    }
    a {
      text-decoration: underline;
    }
  }
}
