#diamond-history-page {
  .history-filter {
    margin-bottom: 50px;
  }
  .ant-select {
    width: 100%;
  }
  .ant-picker {
    width: 100%;
  }
  .history-item {
    background-color: white;
    @include border-radius(10px);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
    padding:20px;
    margin-bottom: 30px;
  }
  .item-image {
    position: relative;
    margin: 0;
  }
  .booking-status {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: black;
    @include border-radius(5px);
    padding: 0 10px;
    span {
      color: white;
      font-size: 12px;
      font-weight: 600;
    }
  }
  .room-name {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .room-type {
    width: 100%;
    color: #888;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ant-divider {
    margin: 15px 0;
  }
  .detail-item {
    margin-bottom: 15px;
    .label {
      font-weight: 600;
    }
  }
  .history-button {
    background-size: 300% 100%;
    border: none;
    @include border-radius(30px);
    color: white !important;
    font-weight: 600;
    outline: 0;
    padding: 10px 40px;
    margin-right: auto;
    @include transition(all 0.3s ease-in-out);
    &:hover {
      background-position: 100% 0;
    }
    &.btn-1 {
      background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
      box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
    }
    &.btn-2 {
      background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
      box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    }
    &.btn-3 {
      background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    }
  }
}
