#diamond-general {
  .hotel-name {
    font-size: 28px;
    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }
  .hotel-title {
    font-size: 22px;
    @include media-breakpoint-up(md) {
      font-size: 26px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 30px;
    }
  }
  .hotel-name, .hotel-title {
    font-weight: 700;
    margin-bottom: 15px;
  }
  ul.hotel-info {
    > li {
      margin-bottom: 10px;
      > i, > span {
        display: inline-block;
        vertical-align: middle;
      }
      > i {
        width: 20px;
        > svg {
          width: 20px;
        }
      }
      > span {
        @include calc(width, '100% - 30px');
        padding-left: 10px;
      }
    }
  }
}

#diamond-amenities {
  ul.amenities-list {
    @include flexbox();
    @include flex-wrap(wrap);
    @include box-sizing();
    > li {
      @include flex-basis(33.33333%);
      line-height: 2;
      margin-bottom: 10px;
      > i, > span {
        display: inline-block;
        vertical-align: middle;
      }
      > i {
        margin-right: 15px;
      }
    }
  }
}

#diamond-room-rate, #diamond-policy {
  .price-item {
    padding: 10px 15px;
    &:nth-child(odd) {
      background: #f6f6f6;
    }
    > span:last-child {
      font-weight: 600;
      text-align: right;
    }
  }
}

#diamond-review {
  h2.page-title {
    margin-bottom: 30px;
  }
  .review-item {
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .review-header {
    margin-bottom: 15px;
  }
  .review-avatar, .review-info {
    display: inline-block;
    vertical-align: top;
  }
  .review-avatar {
    @include border-radius(50%);
    overflow: hidden;
    img {
      width: 48px;
      height: 48px;
      object-fit:cover;
    }
  }
  .review-info {
    @include calc(width, '100% - 48px');
    padding-left: 20px;
  }
  .review-name {
    font-weight: 600;
    margin: 0;
  }
  .review-time {
    font-size: 0.8rem;
  }
}

#diamond-policy {
  .cancellation-rule {
    max-width: 678px;
  }
  .rule-title {
    @include flexbox();
    font-size: 14px;
    font-weight: 700;
    .title {
      display: -webkit-inline-box !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
      width: 169px;
      @include align-items();
      p {
        display: inline-block;
        max-width: 130px;
        margin-bottom: .5rem;
      }
      &.title-1 {
        p {
          max-width: 100px;
        }
      }
      &.title-2, &.title-3 {
        p {
          transform: translateX(calc(-50% + 15px));
          text-align: center;
        }
      }
      &.title-4 {
        @include justify-content(flex-end);
      }
    }
  }
  .rule-content {
    .content {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      &.content-1, &.content-2 {
        .rule-process {
          width: 169px;
        }
      }
      &.content-1, &.content-4 {
        .symbol {
          width: 32px;
          height: 32px;
        }
        .text {
          margin-left: 36px;
        }
      }
      &.content-2, &.content-3 {
        .symbol {
          width: 20px;
          height: 20px;
          margin-top: 6px;
        }
        .text {
          margin-left: 28px;
        }
      }
      &.content-3 {
        flex-grow: 1;
        .rule-process {
          width: 304px;
        }
      }
      &.content-4 {
        .symbol {
          transform: translateX(-10px);
        }
        .line.is-top {
          border-radius: 0 5px 5px 0;
          right: -10px !important;
          left: auto !important;
        }
      }
      .rule-process {
        .symbol {
          position: relative;
          @include border-radius(50%);
          &.is-first, &.is-last {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              width: calc(100% + 2px);
              height: calc(100% + 2px);
              top: 50%;
              left: 50%;
              @include translate(-50%,-50%);
              @include border-radius(50%);
              background: transparent;
              border: 3px solid #fff;
            }
          }
          &.is-normal {
            &:before {
              content: '';
              display: block;
              width: 10px;
              height: 10px;
              background: white;
              @include border-radius(50%);
              position: absolute;
              top: 50%;
              left: 50%;
              @include translate(-50%,-50%);
              z-index: 1;
            }
          }
        }
        .line {
          position: absolute;
          &.is-top {
            width: 169px;
            height: 4px;
            top: 50%;
            left: 0;
            @include translate(0,-50%);
          }
          &.is-bottom {
            width: 1px;
            height: 120px;
            left: calc(50% - 1px);
            top: 0;
          }
        }
        .text {
          font-size: 14px;
          min-height: 120px;
        }
      }
    }
  }
  .symbol-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    z-index: 2;
  }
  .check-mark {
    position: absolute;
    width: 6px;
    height: 12px;
    z-index: 3;
    top: 9px;
    left: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    @include rotate(45);
  }
  .special-note {
    ul > li {
      line-height: 2;
    }
  }
}

#diamond-places {
  .place-item {
    @include flexbox();
    margin-bottom: 15px;
  }
  .place-number {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
    background: #d8d8d8;
    line-height: 1.5rem;
    margin-right: .75rem;
    @include border-radius(2px);
    font-weight: 700;
    font-size: 14px;
    flex: 0 0 1.5rem;
  }
  .place-name {
    line-height: 2;
  }
  .ant-tabs {
    color: $body-color;
    border: 1px solid #e6e6e6;
    .ant-tabs-tab {
      outline: none;
      &.ant-tabs-tab-active {
        color: $body-color;
      }
      &:hover {
        color: $red;
      }
      i, span {
        display: inline-block;
        vertical-align: middle;
      }
      span {
        margin-left: 10px;
      }
    }
    .ant-tabs-ink-bar {
      background: $red;
      right: auto;
      left: 0;
    }
    .ant-tabs-tabpane {
      padding: 1rem 1.25rem;
    }
  }
}

#diamond-similar-list, #diamond-other-list {
  .row {
    margin-right: -7.5px;
    margin-left: -7.5px;
    > .col, > [class*="col-"] {
      padding-right: 7.5px !important;
      padding-left: 7.5px !important;
    }
  }
}
