#diamond-general {
  .hotel-name {
    font-size: 28px;
    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }
  .hotel-title {
    font-size: 22px;
    @include media-breakpoint-up(md) {
      font-size: 26px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 30px;
    }
  }
  .hotel-name, .hotel-title {
    font-weight: 700;
    margin-bottom: 15px;
  }
  ul.hotel-info {
    > li {
      margin-bottom: 10px;
      > i, > span {
        display: inline-block;
        vertical-align: middle;
      }
      > i {
        width: 20px;
        > svg {
          width: 20px;
        }
      }
      > span {
        @include calc(width, '100% - 30px');
        padding-left: 10px;
      }
    }
  }
}

#diamond-amenities {
  ul.amenities-list {
    @include flexbox();
    @include flex-wrap(wrap);
    @include box-sizing();
    > li {
      @include flex-basis(33.33333%);
      line-height: 2;
      margin-bottom: 10px;
      > i, > span {
        display: inline-block;
        vertical-align: middle;
      }
      > i {
        margin-right: 15px;
      }
    }
  }
}

#diamond-room-rate {
  .price-item {
    padding: 10px 15px;
    &:nth-child(odd) {
      background: #f6f6f6;
    }
    > span:last-child {
      font-weight: 600;
      text-align: right;
    }
  }
}

#diamond-review {
  h2.page-title {
    margin-bottom: 30px;
  }
  .review-item {
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .review-header {
    margin-bottom: 15px;
  }
  .review-avatar, .review-info {
    display: inline-block;
    vertical-align: top;
  }
  .review-avatar {
    @include border-radius(50%);
    overflow: hidden;
    img {
      width: 48px;
      height: 48px;
      object-fit:cover;
    }
  }
  .review-info {
    @include calc(width, '100% - 48px');
    padding-left: 20px;
  }
  .review-name {
    font-weight: 600;
    margin: 0;
  }
  .review-time {
    font-size: 0.8rem;
  }
  .stars {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    > i {
      width: 16px;
      height: 16px;
      background-image: url("../images/icon/star.svg");
      margin: 0 3px;
    }
  }
}
