#diamond-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .navbar {
    background-color: white;
    padding: 0 2rem;
    border-bottom: 1px solid $border-color;
  }
  .navbar-brand {
    padding: 0;
    margin: 15px;
    img {
      display: block;
      height: 50px;
    }
  }
  .navbar-nav {
    @include media-breakpoint-down(sm) {
      height: 100vh;
      border-top: 1px solid $border-color;
      text-align: center;
      padding-top: 20px;
    }
    margin-left: auto;
  }
  .nav-link {
    font-weight: 500;
    padding-right: 1rem;
    padding-left: 1rem;
    @include transition(color 0.3s linear);
    &:hover, &:focus {
      color: $orange;
    }
  }
  .navbar-toggler {
    border: transparent;
    cursor: pointer;
  }

  .ant-dropdown-link {
    margin-left: auto;
  }
  .user-info {
    display: inline-block;
    margin-right: 10px;
    .user-avatar, .user-name {
      display: inline-block;
      vertical-align: middle;
    }
    .user-avatar {
      width: 30px;
      height: 30px;
      background: no-repeat center center / cover;
      @include border-radius(50%);
    }
    .user-name {
      font-weight: 500;
      margin-left: 15px;
      @include transition(color 0.3s linear);
      &:hover {
        color: $orange
      }
    }
  }
}

.user-menu {
  padding: 0;
  .menu-item {
    a {
      padding: 0.5rem 1rem;
    }
    i, span {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      margin-right: 15px;
    }
  }
}
