#diamond-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .navbar {
    background-color: white;
    padding: 0 2rem;
    border-bottom: 1px solid $border-color;
  }
  .navbar-brand {
    padding: 0;
    margin: 15px;
    img {
      display: block;
      height: 50px;
    }
  }
  .navbar-nav {
    @include media-breakpoint-down(sm) {
      height: 100vh;
      border-top: 1px solid $border-color;
      text-align: center;
      padding-top: 20px;
    }
    margin-left: auto;
  }
  .nav-link {
    font-weight: 500;
    padding-right: 1rem;
    padding-left: 1rem;
    @include transition(color 0.3s linear);
    &:hover, &:focus {
      color: $orange;
    }
  }
  .navbar-toggler {
    border: transparent;
    cursor: pointer;
  }
}
