@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$aqua_1: #00ffff;
$aqua_2: #2CFFFE;
$navy: #00133D;
$blue: #1070CF;

$font-family: 'Montserrat', sans-serif;
$font-size: 14px;
$line-height: 1.8;
$body-color: white;
$body-bg: #121A50;